---
export interface ProjectCard {
  name: string;
  description: string;
  url: {
    link: string;
    label: string;
  };
}

interface Props extends ProjectCard {}

const { name, description, url } = Astro.props;
---

<li>
  <article class="flex flex-col gap-3">
    <h2 class="font-serif text-2xl font-medium">{name}</h2>
    <div class="flex flex-col gap-1">
      <p>{description}</p>
      <a
        href={url.link}
        class="w-fit font-serif text-sm italic hover:underline hover:decoration-dotted focus-visible:rounded"
        target="_blank"
        rel="noopener noreferrer">{url.label}</a
      >
    </div>
  </article>
</li>
