---
export interface ProjectCard {
  title: string;
  description: string;
  url: string;
  urlLabel: string;
}

interface Props extends ProjectCard {}

const { title, description, url, urlLabel } = Astro.props;
---

<li>
  <article class="flex flex-col gap-3">
    <h2 class="font-serif text-2xl font-medium">{title}</h2>
    <div class="flex flex-col gap-1">
      <p>{description}</p>
      <a
        href={url}
        class="w-fit font-serif text-sm italic hover:underline hover:decoration-dotted focus-visible:rounded"
        >{urlLabel}</a
      >
    </div>
  </article>
</li>
