---
interface Props {
  url: string;
  label: string;
}

const { url, label } = Astro.props;
---

<li class="flex text-sm">
  <a href={url} class="px-2 py-1 hover:underline focus-visible:rounded">{label}</a>
</li>
