---
import type { ProjectCard as ProjectCardInterface } from '../components/projects/ProjectCard.astro';
import ProjectCard from '../components/projects/ProjectCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { loadQuery } from '../sanity/lib/load-query';

const { data: projects } = await loadQuery<ProjectCardInterface[]>({
  query: `*[_type=="project"]`,
});
---

<BaseLayout>
  <div class="flex flex-col gap-16">
    <section class="flex flex-col gap-3">
      <h1 class="w-fit font-serif text-2xl italic tracking-tight sm:text-4xl">Projects</h1>
      <p class="w-fit text-sm tracking-tight">A collection of the things I'm working on.</p>
    </section>
    <section>
      <ul class="flex list-disc flex-col gap-8">
        {projects.map((project) => <ProjectCard {...project} />)}
      </ul>
    </section>
  </div>
</BaseLayout>
