---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A developer from Belgium." />
  <meta name="author" content="Jeroen Zeelmaekers" />
  <title>Jeroen Zeelmaekers</title>

  <ViewTransitions />
</head>
