---
import '../styles/global.css';
import { fade } from 'astro/virtual-modules/transitions.js';
import Head from '../components/head.astro';
import Header from '../components/header.astro';
---

<html lang="en">
  <Head />
  <body class="flex flex-col gap-24 break-words bg-main text-main antialiased">
    <Header />
    <main transition:animate={fade({ duration: '0.1s' })} class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
